@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */
.card-shadow {
  box-shadow: 0px 6px 15px #181c143b;
}

/* container border custom style */
.container-border {
  background-color: #f3f4f6;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23525B6BFF' stroke-width='4' stroke-dasharray='16' stroke-dashoffset='43' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  margin: 0 auto;
  overflow: hidden;
}

/* scrollbar style */
.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 100vh;
  border: 3px solid #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0e2d65;
}

/* loading styles */
.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-left: 4px solid #0e2d65;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* preview pdf style */
.preview-thumbnail > .rpv-core__viewer {
  width: 260px !important;
  height: 260px !important;
}

/* ckeditor style */
.ck-content * {
  all: revert;
  color: #181c14 !important;
}
.ck-content p {
  text-align: justify;
}
.dangerous_html * {
  all: revert !important;
}
.dangerous_html .image {
  margin: 0 auto;
  max-width: 600px !important;
  width: 100%;
}
.dangerous_html img {
  max-width: 600px !important;
  width: 100%;
}
.dangerous_html p {
  text-align: justify;
}
.dangerous_html blockquote {
  font-style: italic !important;
  padding: 1rem 1.5rem !important;
  margin: 1rem 0 !important;
  border-left: 4px solid #ddd !important;
}
.dangerous_html blockquote p {
  margin: 0 !important;
}

@layer components {
  .btn-outline {
    @apply border text-primary border-primary hover:bg-primary hover:text-light;
  }
  .btn-primary {
    @apply text-light bg-primary hover:bg-primary/90;
  }
  .btn-secondary {
    @apply text-light bg-green-500 hover:bg-green-500/90;
  }
  .heading {
    @apply text-xl font-semibold sm:text-2xl lg:text-3xl text-primary;
  }
  .subheading {
    @apply text-lg font-medium sm:text-xl lg:text-2xl text-primary;
  }
  .floating-input {
    @apply w-full pb-1.5 pt-5 pl-2 block text-dark-blue bg-light border-0 border-b-2 border-gray appearance-none focus:outline-none focus:ring-0 focus:border-primary;
  }
  .floating-label {
    @apply absolute text-gray pl-2.5 duration-300 transform -translate-y-6 scale-75 top-5 origin-[0];
  }
  .btn-cross-border {
    @apply absolute duration-300 right-4 top-4 flex justify-center items-center rounded-full border-primary border-2 size-8 hover:bg-primary;
  }
  .sidebar-menu {
    @apply relative flex items-center justify-center py-2 overflow-hidden duration-300 rounded-lg hover:bg-primary;
  }
  .popover {
    @apply absolute p-4 space-y-2 -translate-x-1/2 border border-gray rounded-lg shadow-lg left-1/2 bg-light text-dark-blue z-100;
  }
  .dropdown {
    @apply relative flex items-center gap-2 p-2 text-sm text-gray font-semibold rounded-lg cursor-pointer sm:px-4 sm:gap-8 border;
  }
  .events_dropdown {
    @apply relative flex items-center gap-2 p-2 text-sm font-semibold uppercase cursor-pointer w-52 sm:px-4 sm:gap-8;
  }
  .select-input {
    @apply block cursor-pointer py-2.5 px-2 w-full bg-light border-0 border-b-2 border-gray appearance-none focus:outline-none focus:ring-0 focus:border-primary;
  }
  .pagination-number {
    @apply px-3 py-2 text-sm text-center transition-all border rounded-lg shadow-sm border-gray/50 text-dark-blue min-w-9;
  }
}
