@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */
.card-shadow {
  box-shadow: 0px 6px 15px #181c143b;
}

/* loading styles */
.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-left: 4px solid #0e2d65;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .floating-input {
    @apply w-full pb-1.5 pt-5 block text-dark-blue bg-light border-0 border-b-2 border-gray appearance-none focus:outline-none focus:ring-0 focus:border-primary;
  }
  .floating-label {
    @apply absolute text-gray duration-300 transform -translate-y-6 scale-75 top-5 z-10 origin-[0];
  }
}
