@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */
.card-shadow {
  box-shadow: 0px 6px 15px #181c143b;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 100vh;
  border: 3px solid #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0e2d65;
}

@layer components {
  .floating-input {
    @apply w-full pb-1.5 pt-5 block text-dark-blue bg-light border-0 border-b-2 border-gray appearance-none focus:outline-none focus:ring-0 focus:border-primary;
  }
  .floating-label {
    @apply absolute text-gray duration-300 transform -translate-y-6 scale-75 top-5 z-10 origin-[0];
  }
}
