@tailwind base;
@tailwind components;
@tailwind utilities;

/* card shadow style */
.card-shadow {
  box-shadow: 0px 6px 15px #181c143b;
}

/* scrollbar style */
.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 100vh;
  border: 3px solid #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0e2d65;
}

/* loading styles */
.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-left: 4px solid #0e2d65;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ckeditor style */
.dangerous_html * {
  all: revert;
}
.dangerous_html .image {
  margin: 0 auto;
  max-width: 600px !important;
  width: 100%;
}
.dangerous_html img {
  max-width: 600px !important;
  width: 100%;
}
.dangerous_html p {
  text-align: justify;
}

@layer components {
  .btn-outline {
    @apply border text-primary border-primary hover:bg-primary hover:text-light;
  }
  .btn-primary {
    @apply text-light bg-primary hover:bg-primary/90;
  }
  .btn-secondary {
    @apply text-light bg-green-500 hover:bg-green-500/90;
  }
  .btn-cross-border {
    @apply absolute duration-300 right-4 top-4 flex justify-center items-center rounded-full border-primary border-2 size-8 hover:bg-primary;
  }
  .heading {
    @apply text-2xl font-semibold sm:text-3xl lg:text-4xl text-primary;
  }
  .subheading {
    @apply text-sm sm:text-base md:text-xl text-dark-gray;
  }
  .filter {
    @apply bg-gradient-to-b from-dark/80 to-dark/50;
  }
  .filter-image {
    @apply bg-gradient-to-b from-dark/50 via-dark-blue/20 to-dark/50;
  }
  .popover {
    @apply absolute p-4 space-y-2 -translate-x-1/2 border border-gray rounded-lg shadow-lg left-1/2 w-full bg-light text-dark-blue z-100;
  }
  .dropdown {
    @apply relative flex items-center gap-2 p-2 text-sm text-gray font-semibold rounded-lg cursor-pointer sm:px-4 sm:gap-8 border;
  }
  .triangle {
    @apply absolute -right-14 duration-300 transition-all size-0 border-t-[30px] border-t-transparent border-l-[60px] border-b-[30px] border-b-transparent;
  }
  .card-certification {
    @apply relative flex items-center w-full gap-4 px-3 sm:px-6 min-h-36 sm:min-h-44 lg:min-h-36 duration-300 cursor-pointer card-shadow rounded-xl bg-light;
  }
  .form-contact-input {
    @apply w-full text-sm bg-light-gray border border-gray outline-primary focus:border-primary p-2.5 rounded-md duration-300;
  }
  .social-media-icons {
    @apply rounded-full duration-300 cursor-pointer flex justify-center items-center size-10 border border-primary hover:bg-primary;
  }
}
